<header class="header">
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <% types.forEach((type) => { %>
    <li>
      <a href="/types/<%= type.name %>"><%= type.name %></a>
      <form
        action="/types/<%= type.name %>/delete"
        method="post"
        onsubmit="return confirm('Delete all pokemons of type <%= type.name %>?')"
      >
        <button class="delete_button">X</button>
      </form>
    </li>
    <% }) %>
  </ul>
  <a href="/add">
    <button>Add</button>
  </a>
</header>
